<nav class="navbar navbar-expand-sm navbar-light bg-dark shadow-sm">
  <a class="navbar-brand" href="#"
    ><img src="../assets/logo.svg" alt="icon" width="30" height="30"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<h1 class="text-center fs-3 mt-4">Todo List by {{name}}</h1>

<!-- Todo container -->
<div class="todo_container">
  <div class="mb-4 d-flex align-items-center">
    <input 
    type="text" 
    name="" 
    class="todo_input" 
    placeholder="Type a todo"
    (keyup.enter)="addTodo()"
    [(ngModel)]="todoValue" />
    <button class="btn btn-primary btn-sm mx-2 inputBtn" (click)="addTodo()">Add Todo</button>
  </div>

  <!-- Todo list -->
  <div class="list my-4">
    <ul>
      <li
        class="w-100 my-2 d-flex align-items-center justify-content-between bg-dark shadow-sm px-2 py-1"
        *ngFor="let item of list"
      >
        <div class="inputText d-flex align-items-center">
          <input type="checkbox" class="mr-2" />
          {{item.value}}
        </div>

        <button class="btn btn-danger btm-sm" (click)="deleteTodo(item.id)">
          <i class="bx bx-trash"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
